<table>
  <tr>
    <td class='axis'></td>
    <td class='axis'>А</td>
    <td class='axis'>Б</td>
    <td class='axis'>В</td>
    <td class='axis'>Г</td>
    <td class='axis'>Д</td>
    <td class='axis'>Е</td>
    <td class='axis'>Ж</td>
    <td class='axis'>З</td>
    <td class='axis'>И</td>
    <td class='axis'>К</td>
  </tr>
  {{#each map}}
  <tr>
    <td class='axis'>{{this.rowNumber}}</td>
    {{#each this.row}}
    <td class='cell border border-primary'>
      {{#if this.isButton}}
      <div id="{{../../userType}}-cell-{{this.cell}}" class='{{../../userType}}-btn-cell' value="{{this.cell}}">
      </div>
      {{/if}}
      {{#if this.isGoodShip}}
      <div class="shipCell bg-primary">
      </div>
      {{/if}}
      {{#if this.isBadShip}}
      <div class="shipCell bg-danger">
      </div>
      {{/if}}
      {{#if this.isMissingCell}}
      <div class='missing-cell'>-</div>
      {{/if}}

    </td>
    {{/each}}
  </tr>
  {{/each}}
</table>