<div class='container' style='min-width: 340px;'>
  {{#each map}}
    <div class='row'>
      {{#each this.row}}
        {{#if this.isButton}}
          <div class='col-1 border border-white mrn-cell'>
            <input
              type='checkbox'
              class='btn-check'
              id='btn-check-outlined_{{this.id}}'
              autocomplete='off'
              name='cells'
              value='{{this.id}}'
            />
            <label
              class='btn btn-outline-primary rounded-0'
              for='btn-check-outlined_{{this.id}}'
            ></label>
          </div>
        {{/if}}
        {{#if isRadio}}
          <div class='col-1 border border-white mrn-cell'>
            <input
              type='radio'
              class='btn-check'
              id='btn-check-outlined_{{this.id}}'
              autocomplete='off'
              name='cell'
              value='{{this.id}}'
              required
            />
            <label
              class='btn btn-outline-primary rounded-0'
              for='btn-check-outlined_{{this.id}}'
            ></label>
          </div>
        {{/if}}
        {{#if this.isDisabledCell}}
          {{!-- <input
                type='checkbox'
                class='btn-check bg-primary'
                id='btn-check-outlined_{{this.id}}'
                autocomplete='off'
                name='cells'
                value='{{this.id}}'
                disabled
              />
              <label
                class='btn btn-outline-{{this.color}} rounded-0 bg-light'
                for='btn-check-outlined_{{this.id}}'
                disabled
              ></label> --}}
          <div
            class='col-1 border border-white mrn-cell d-flex flex-column justify-content-center bg-light'
          >
            <div class='my-sheep align-self-center text-secondarys'>
              {{this.text}}
            </div>
          </div>

        {{/if}}
        {{#if this.isShip}}
          <div
            class='col-1 border border-white mrn-cell d-flex flex-column justify-content-center bg-{{this.color}}'
          >
            <div class='my-sheep align-self-center text-white'>
              {{this.text}}
            </div>
          </div>
        {{/if}}
        {{#if this.isAxis}}
          <div
            class='col-1 border border-white mrn-cell d-flex flex-column justify-content-center'
          >
            <div class='my-axis align-self-center'>
              {{this.text}}
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/each}}

</div>