<div class='container' style='min-width: 340px;'>
  {{#each map}}
    <div class='row'>
      {{#each this.row}}
        {{#if this.isButton}}
          <div class='col-1 border border-white mrn-cell'>
            {{#if this.isDisabled}}
              <input
                type='checkbox'
                class='btn-check bg-primary'
                id='btn-check-outlined_{{this.id}}'
                autocomplete='off'
                name='cells'
                value='{{this.id}}'
                disabled
              />
              <label
                class='btn btn-outline-primary rounded-0 bg-light'
                for='btn-check-outlined_{{this.id}}'
                disabled
              ></label>
            {{else}}
              <input
                type='checkbox'
                class='btn-check'
                id='btn-check-outlined_{{this.id}}'
                autocomplete='off'
                name='cells'
                value='{{this.id}}'
              />
              <label
                class='btn btn-outline-primary rounded-0'
                for='btn-check-outlined_{{this.id}}'
              ></label>
            {{/if}}
          </div>

        {{else}}
          {{#if this.isAxis}}
            <div
              class='col-1 border border-white mrn-cell d-flex flex-column justify-content-center'
            >
              <div class='my-axis align-self-center'>
                {{this.text}}
              </div>
            </div>
          {{else}}
            <div
              class='col-1 border border-white mrn-cell d-flex flex-column justify-content-center bg-primary'
            >
              <div class='my-sheep align-self-center text-white'>
                {{this.text}}
              </div>
            </div>

          {{/if}}
        {{/if}}
      {{/each}}
    </div>
  {{/each}}

</div>