<div class='container m-3'>
  <form id="map-placement" class="row requires-validation" novalidate action='/map' , method='post'>
    <div class='col-12 col-sm-4 col-lg-2 d-flex flex-column my-3'>
      {{!-- <div class="h6">Выбери корабль, поставь на поле</div> --}}
        <fieldset>
  <legend>Корабль</legend>
        
        {{#each rules}}
          <div class='form-check'>
            <input
              class='form-check-input'
              type='radio'
              name='rule'
              id='{{this.id}}'
              value='{{this.id}}'
              required
            />
            <label class='form-check-label' for='{{this.id}}'>
              {{this.Sheep.name}},
            {{this.Sheep.length}} кл.
            </label>
          </div>

        {{/each}}

</fieldset>
        <p class="text-danger" id="rule-invalid-message" style="display:none">
          Выбери корабль!
        </p>
    </div>
    <div class="col-12 col-sm-8 col-lg-10">
      {{> map-grid }}
        <p class="text-danger" id="cells-invalid-message" style="display:none">
          Размести на карте!
        </p>

            <button type='submit' class='btn btn-primary mt-2'>Применить</button>
    </div>
  </form>
</div>
<script type='text/javascript' src='/js/map.js'></script>